.install-page,
.maintenance-page {
  min-height: 100%;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right top 20px;
}
.install-page .layout-container,
.maintenance-page .layout-container {
  width: 95% !important;
  margin: 80px auto !important;
  position: relative;
  box-sizing: border-box;
}
.install-page .layout-container .badge-logo,
.maintenance-page .layout-container .badge-logo {
  display: block;
  position: absolute;
  transform: translate(-50%, 100%);
  left: 50%;
  bottom: -50px;
}
@media all and (min-width: 62rem) {
  .install-page .layout-container,
.maintenance-page .layout-container {
    display: grid;
    max-width: 68rem !important;
    grid-template-columns: minmax(300px, auto) 1fr;
    gap: 30px 60px;
  }
  .install-page .layout-container > header,
.maintenance-page .layout-container > header {
    width: auto;
    grid-column: span 2;
  }
  .install-page .layout-container > main,
.maintenance-page .layout-container > main {
    width: 100%;
    padding: 0;
  }
  .install-page .layout-container > .layout-sidebar-first,
.maintenance-page .layout-container > .layout-sidebar-first {
    width: auto;
  }
}
[dir=rtl] .install-page,
[dir=rtl] .maintenance-page {
  background-position: right top, 50% 50%;
}
.install-page .password-parent,
.install-page .confirm-parent,
.maintenance-page .password-parent,
.maintenance-page .confirm-parent {
  width: auto;
}
.install-page .form-item .password-suggestions,
.maintenance-page .form-item .password-suggestions {
  float: none;
  width: auto;
}
.install-page table td,
.maintenance-page table td {
  word-break: break-all;
}
.install-page .site-version,
.maintenance-page .site-version {
  vertical-align: super;
  color: var(--color-warning);
  font-size: 0.5em;
}
@media all and (min-width: 48em) {
  .install-page .task-list li,
.maintenance-page .task-list li {
    padding: 0.5em 1em 0.5em 2em;
    font-size: var(--font-size-md);
  }
}
