//
// Install and Maintenance page.
// ----------------------------
//

.install-page,
.maintenance-page {
  min-height: 100%;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right top 20px;

  .layout-container {
    width: 95%!important;
    margin: 80px auto !important;
    position: relative;
    box-sizing: border-box;

    .badge-logo {
      display: block;
      position: absolute;
      transform: translate(-50%, 100%);
      left: 50%;
      bottom: -50px;
    }

    @media all and (min-width: 62rem) {
      display: grid;
      max-width: 68rem!important;
      grid-template-columns: minmax(300px, auto)  1fr;
      gap: 30px 60px;

      >header {
        width: auto;
        grid-column: span 2;
      }

      >main {
        width: 100%;
        padding: 0;
      }

      >.layout-sidebar-first {
        width: auto;
      }
    }
  }

  [dir="rtl"] & {
    background-position: right top, 50% 50%;
  }

  // Password widget
  .password-parent,
  .confirm-parent {
    width: auto;
  }

  .form-item .password-suggestions {
    float: none;
    width: auto;
  }

  table td {
    word-break: break-all;
  }

  .site-version {
    vertical-align: super;
    color: var(--color-warning);
    font-size: 0.5em;
  }

  @media all and (min-width: 48em) {
    .task-list li {
      padding: 0.5em 1em 0.5em 2em;
      font-size: var(--font-size-md);
    }
  }
}
