//
// ThaiGov Claro - Main styles.
// ----------------------------

// Colors.

// - State.
$primary: #0779bf;
$success: #00746b;
$info: #72b5e4;
$warning: #f28d4f;
$danger: #ff4141;

$primary-hover: #104e8e;
$headings-color: #04417e;
// Root CSS variables.
:root {
  --color-white: white;
  // State colors
  --color-primary: #{$primary};
  --color-success: #{$success};
  --color-info: #{$info};
  --color-warning: #{$warning};
  --color-danger: #{$danger};
  --color-primary-hover: #{$primary-hover};
  // Headings
  --headings-color: #{$headings-color};
  --headings-fw: bold;
  // Claro overrides
  --color-absolutezero: var(--color-primary);
}

html {
  font-size: var(--font-size-root);
}

a,
.link {
  color: var(--color-primary);
  &:hover {
    color: var(--color-primary-hover);
  }
}

// Headings
h1,
.heading-a,
h2,
.heading-b,
h3,
.heading-c,
h4,
.heading-d,
h5,
.heading-e,
h6,
.heading-f {
  color: var(--headings-color);
  font-weight: var(--headings-fw);
}

.messages__title {
  color: var(--color-white);
}

// Buttons.
.button--primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

// Forms.
// Adjust element focus to use rems and our color scheme.
.form-element:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.3125rem var(--color-success);
}

.form-element:hover:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.3125rem var(--color-success), inset 0 0 0 1px #222330;
}

// Boolen form elements.
.form-boolean--type-checkbox:checked {
  &:not([disabled]) {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
}

.form-boolean--type-radio:checked {
  &:not([disabled]) {
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);

    &:focus {
      box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769, inset 0 0 0 1px var(--color-primary);
    }
  }
}

// Tables.
.sortable-heading.is-active>a {
  color: var(--color-primary);

  &::before {
    border-bottom-color: var(--color-primary);
  }
}


// Tabs.
.tabs__link.is-active {
  color: var(--color-primary);

  &::before {
    border-left: 3px solid var(--color-primary);
    /* LTR */
  }

  [dir="rtl"] &::before {
    border-right: 3px solid var(--color-primary);
  }
}

@media screen and (min-width: 48em) {
  .is-horizontal .tabs__link {
    &:hover {
      color: var(--color-primary-hover);
    }
    &.is-active::before {
      border-bottom-color: var(--color-primary);
    }
  }
}

// Vertical tabs.
.vertical-tabs__menu-link:hover,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
  color: var(--color-primary);
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  border-left: 4px solid var(--color-primary);

  /* LTR */
  [dir=rtl] & {
    border-right: 4px solid var(--color-primary);
  }
}

// Progress bar
.progress__bar {
  border: 1px var(--color-warning) solid;
  background-color: var(--color-warning);
}

// Ajax.
.ajax-progress__throbber,
.ajax-progress__throbber--fullscreen,
.ui-dialog .ajax-progress__throbber {
  border-color: var(--color-primary);
}

// Autocomplete.
.claro-autocomplete__message {
  color: var(--color-primary);
}

.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
  background: var(--color-primary);
}

// Details
[open] .claro-details__summary--accordion,
[open] .claro-details__summary--accordion-item,
[open] .claro-details__summary--vertical-tabs-item,
.claro-details__summary:hover,
.claro-details[open]>.claro-details__summary:focus {
  color: var(--color-primary);
}

[open]>.claro-details__summary--accordion:not(:focus):not(:active)::after,
[open]>.claro-details__summary--accordion-item:not(:focus):not(:active)::after,
.collapse-processed[open]>.claro-details__summary--accordion .details-title:not(:focus)::after,
.collapse-processed[open]>.claro-details__summary--accordion-item .details-title:not(:focus)::after,
[open]>.claro-details__summary--vertical-tabs-item:not(:focus):not(:active)::after,
.collapse-processed[open]>.claro-details__summary--vertical-tabs-item .details-title:not(:focus)::after {
  border: 3px solid var(--color-primary);
}

.claro-details .tableresponsive-toggle:hover {
  color: var(--color-primary-hover);
}

// Views.
.views-tabs .add.open a,
.views-tabs__action-list-button.button:hover,
.views-tabs__action-list-button.button:focus {
  background-color: var(--color-primary);
}
.views-tabs .add a:hover {
  color: var(--color-primary-hover);
}


// Media Library.
.media-library-menu__link {
  &:hover,
  &.active {
    color: var(--color-primary);
  }
  &.active:hover {
    color: var(--color-primary-hover);
  }
}

.media-library-item--grid.is-hover:before,
.media-library-item--grid.checked.is-hover:before {
  border-color: var(--color-primary-hover);
}

.media-library-menu__link.active::before {
  border-left: 4px solid var(--color-primary);

  /* LTR */
  [dir=rtl] & {
    border-right: 4px solid var(--color-primary);
  }
}

.media-library-item .ajax-progress__throbber {
  border: 3px solid var(--color-primary);
}

.media-library-item__remove:active,
.media-library-item__remove.button:active,
.media-library-item__remove.button:disabled:active {
  /* !important to override button class border. */
  border-color: var(--color-primary) !important;
}


// Icon link.
.icon-link:active,
.open>.icon-link {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

// Pager.
.pager__link.is-active,
.pager__item--current {
  background: var(--color-primary);
}
